body {
    background: url("../images/background.jpg") no-repeat fixed center;
    background-size: cover;
}

h1 {
    color: #3e779d;
    font-family: helvetica, serif;
    text-align: center;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

table {
    border: 0;
    margin: 0 auto;
    min-width: 100%;
    pointer-events: none;
}

th {
    border: 0;
    min-width: 100%;
    width: 700px;
}

td {
    border: 0;
    height: 100px;
    text-align: center;
}

li {
    color: #0a3c59;
    list-style-type: disc;
}

li span {
    color: #eff1f2;
}

.element {
    color: #eff1f2;
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 12px 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    font-size: 17px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

.element:hover {
    color: #c2bec2;
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
}

.helper {
    float: right;
}

#previous {
    float: left;
}

#next {
    float: right;
}

#mask {
    display: block;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#help {
    background-color: #65a9d7;
    color: #eff1f2;
    border: 2px solid #3e779d;
    padding: 20px;
    width: 60%;
    margin: 5% auto auto auto;
}

#close {
    float: right;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: auto;
    width: 0.75em;
    height: 0.75em;
    position: relative;
    opacity: 1;
    margin: 0;
    padding: 25px;
    overflow: visible;
    border: none;
    -webkit-border-radius: 1em;
    font: normal 8em/normal Arial, Helvetica, sans-serif;
    color: #eff1f2;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(0, 0, 0, .3);
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}